
<form mat-dialog class="forma">
  <div>
    <label for="ime">Ime podnosioca:</label>
    <input type="text" id="ime" name="ime" [(ngModel)]="data.ime" readonly>
  </div>
  <div>
    <label for="ime">Prezime podnosioca:</label>
    <input type="text" id="prezime" name="prezime" [(ngModel)]="data.prezime" readonly>
  </div>
  <div>
    <label for="ime">Ulica podnosioca:</label>
    <input type="text" id="ulica" name="ulicaPodnosioca" [(ngModel)]="data.ulicaPodnosioca" readonly>
  </div>
  <div>
    <label for="ime">Mesto podnosioca:</label>
    <input type="text" id="mesto" name="mestoPodnosioca" [(ngModel)]="data.mestoPodnosioca" readonly>
  </div>
  <div>
    <label for="ime">Drzavljanstvo podnosioca:</label>
    <input type="text"  name="drzavljanstvoPodnosioca" [(ngModel)]="data.drzavljanstvoPodnosioca" readonly>
  </div>
  <div>
    <label for="ime">Pseudonim podnosioca:</label>
    <input type="text"  name="pseudonimPodnosioca" [(ngModel)]="data.pseudonimPodnosioca" readonly>
  </div>
  <div>
    <label for="ime">Telefon podnosioca:</label>
    <input type="text" name="telefonPodnosioca" [(ngModel)]="data.telefonPodnosioca" readonly>
  </div>
  <div>
    <label for="ime">Email podnosioca:</label>
    <input type="text" name="emailPodnosioca" [(ngModel)]="data.emailPodnosioca" readonly>
  </div>
  <div>
    <label for="ime">Obrazac:</label>
    <input type="text" id="ulica" name="obrazac" [(ngModel)]="data.obrazac" readonly>
  </div>
  <div>
    <label for="ime">Ulica podnosioca:</label>
    <input type="text" id="ulica" name="naslov" [(ngModel)]="data.naslov" readonly>
  </div>
  <div>
    <label for="ime">Naslov:</label>
    <input type="text" id="ulica" name="alternativni_naslov" [(ngModel)]="data.alternativni_naslov" readonly>
  </div>
  <div>
    <label for="ime">Naslov izvornog autorskog dela:</label>
    <input type="text" id="ulica" name="naslov_izvornog_dela" [(ngModel)]="data.naslov_izvornog_dela" readonly>
  </div>
  <div>
    <label for="ime">Autor izvornog  dela:</label>
    <input type="text" id="ulica" name="autorIzvornogDela" [(ngModel)]="data.autorIzvornogDela" readonly>
  </div>
  <div>
    <label for="ime">Vrsta autorskog dela:</label>
    <input type="text" id="ulica" name="vrstaAutorskogDela" [(ngModel)]="data.vrstaAutorskogDela" readonly>
  </div>
  <div>
    <label for="ime">Forma autorskog dela:</label>
    <input type="text" id="ulica" name="formaAutorskogDela" [(ngModel)]="data.formaAutorskogDela" readonly>
  </div>
  <div>
    <label for="ime">Stvoreno u radnom odnosu:</label>
    <input type="text" id="ulica" name="stvorenoURadnomOdnosu" [(ngModel)]="data.stvorenoURadnomOdnosu" readonly>
  </div>
  <div>
    <label for="ime">Nacin koriscenja:</label>
    <input type="text" id="ulica" name="nacin_koriscenja" [(ngModel)]="data.nacin_koriscenja" readonly>
  </div>
  <div>
    <label for="ime">Ime autora ziv:</label>
    <input type="text" id="ulica" name="imeAutoraZiv" [(ngModel)]="data.imeAutoraZiv" readonly>
  </div>
  <div>
    <label for="ime">Prezime autora ziv:</label>
    <input type="text" id="ulica" name="prezimeAutoraZiv" [(ngModel)]="data.prezimeAutoraZiv" readonly>
  </div>
  <div>
    <label for="ime">Ulica autora ziv:</label>
    <input type="text" id="ulica" name="ulicaAutoraZiv" [(ngModel)]="data.ulicaAutoraZiv" readonly>
  </div>
  <div>
    <label for="ime">Mesto autora ziv:</label>
    <input type="text" id="ulica" name="mestoAutoraZiv" [(ngModel)]="data.mestoAutoraZiv" readonly>
  </div>
  <div>
    <label for="ime">Drzavljanstvo autora ziv:</label>
    <input type="text" id="ulica" name="drzavljanstvoAutoraZiv" [(ngModel)]="data.drzavljanstvoAutoraZiv" readonly>
  </div>
  <div>
    <label for="ime">Pseudonim autora ziv:</label>
    <input type="text" id="ulica" name="pseudonimAutoraZiv" [(ngModel)]="data.pseudonimAutoraZiv" readonly>
  </div>
  <div>
    <label for="ime">Opis autorskog dela:</label>
    <input type="text" id="ulica" name="opisAutorskogDela" [(ngModel)]="data.opisAutorskogDela" readonly>
  </div>
  <div>
    <label for="ime">Primer autorskog dela:</label>
    <input type="text" id="ulica" name="primerAutorskogDela" [(ngModel)]="data.primerAutorskogDela" readonly>
  </div>
  <div>
    <label for="ime">Ime punomocnika:</label>
    <input type="text" id="ulica" name="imePunomocnika" [(ngModel)]="data.imePunomocnika" readonly>
  </div>
  <div>
    <label for="ime">Prezime punomocnika:</label>
    <input type="text" id="ulica" name="prezimePunomocnika" [(ngModel)]="data.prezimePunomocnika" readonly>
  </div>
  <div>
    <label for="ime">Ulica punomocnika:</label>
    <input type="text" id="ulica" name="ulicaPunomocnika" [(ngModel)]="data.ulicaPunomocnika" readonly>
  </div>
  <div>
    <label for="ime">Mesto punomocnika:</label>
    <input type="text" id="ulica" name="mestoPunomocnika" [(ngModel)]="data.mestoPunomocnika" readonly>
  </div>
  <!-- Add more form controls for other properties -->

  <button mat-button class="dugme" (click)="closeDialog()">Close</button>
</form>
