<div class="component">
  <div class="limiter">
    <div
      class="container-login100"
    >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-49"> Vi ste: </span>


          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>

              <button class="login100-form-btn"><i class="fas fa-user" style="font-size:20px; margin-right: 10px"></i>
                Gradjanin
              </button>
            </div>
          </div>
          <br>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>

              <a routerLink="/login">
                <button class="login100-form-btn"><i class="fas fa-user-tie"
                                                     style="font-size:20px; margin-right: 10px"></i>Sluzbenik
                </button>
              </a>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>


</div>
