<div class="container">
  <header>Zahtev za priznanje ziga</header>
  <div class="progress-bar">
    <div class="step">
      <p>Podnosilac</p>
      <div class="bullet">
        <span>1</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step">
      <p>Punomoćnik</p>
      <div class="bullet">
        <span>2</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step">
      <p>Grupa podnosilaca</p>
      <div class="bullet">
        <span>3</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step">
      <p>O žigu</p>
      <div class="bullet">
        <span>4</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step">
      <p>Takse</p>
      <div class="bullet">
        <span>5</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
    <div class="step">
      <p>Kraj</p>
      <div class="bullet">
        <span>6</span>
      </div>
      <div class="check fas fa-check"></div>
    </div>
  </div>
  <div class="form-outer">
    <form>
      <div class="page slide-page">
        <div class="title">O podnosiocu:</div>
        <div id="toggle-button">
          <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" [checked]="tipLica" >
          <label for="toggle-on" class="btn">Fizičko lice</label>
          <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio" [checked]="!tipLica">
          <label for="toggle-off" class="btn">Pravno lice</label>
        </div>
        <div id="fizicko" *ngIf="tipLica">
          <div class="field">
            <div class="label">Email Address</div>
            <input type="text" required/>
          </div>
          <div class="field">
            <div class="label">Email Address</div>
            <input type="text" required/>
          </div>
          <div class="field">
            <div class="label">Email Address</div>
            <input type="text" required/>
          </div>
          <div class="field">
            <div class="label">Email Address</div>
            <input type="text" required/>
          </div>
        </div>
        <div id="pravno" *ngIf="!tipLica">
          <div class="field">
            <div class="label">Email Address</div>
            <input type="text" required/>
          </div>
        </div>
        <div class="field">
          <button class="firstNext next">Next</button>
        </div>
      </div>

      <div class="page">
        <div class="title">Contact Info:</div>
        <div class="field">
          <div class="label">Email Address</div>
          <input type="text" required/>
        </div>
        <div class="field">
          <div class="label">Phone Number</div>
          <input type="Number" required/>
        </div>
        <div class="field btns">
          <button class="prev-1 prev">Previous</button>
          <button class="next-1 next">Next</button>
        </div>
      </div>
      <div class="page">
        <div class="title">Contact Info 2:</div>
        <div class="field">
          <div class="label">Email Address</div>
          <input type="text" required/>
        </div>
        <div class="field">
          <div class="label">Phone Number</div>
          <input type="Number" required/>
        </div>
        <div class="field btns">
          <button class="prev-2 prev">Previous</button>
          <button class="next-2 next">Next</button>
        </div>
      </div>
      <div class="page">
        <div class="title">Contact Info 3:</div>
        <div class="field">
          <div class="label">Email Address</div>
          <input type="text" required/>
        </div>
        <div class="field">
          <div class="label">Phone Number</div>
          <input type="Number" required/>
        </div>
        <div class="field btns">
          <button class="prev-3 prev">Previous</button>
          <button class="next-3 next">Next</button>
        </div>
      </div>

      <div class="page">
        <div class="title">Date of Birth:</div>
        <div class="field">
          <div class="label">Date</div>
          <input type="text" required/>
        </div>
        <div class="field">
          <div class="label">Gender</div>
          <select required>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
        <div class="field btns">
          <button class="prev-4 prev">Previous</button>
          <button class="next-4 next">Next</button>
        </div>
      </div>

      <div class="page">
        <div class="title">Login Details:</div>
        <div class="field">
          <div class="label">Username</div>
          <input type="text" required/>
        </div>
        <div class="field">
          <div class="label">Password</div>
          <input type="password" required/>
        </div>
        <div class="field btns">
          <button class="prev-5 prev">Previous</button>
          <button class="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
