<div class="component">
<div class="stepper">
  <mat-stepper #stepper [linear]="true">
    <mat-step [stepControl]="requesterFormGroup" label="Podaci o podnosiocu">
      <form [formGroup]="requesterFormGroup">
        <p>
          <mat-radio-group
            [(ngModel)]="requesterType"
            aria-labelledby="radio-group-label"
            class="radio-group"
            formControlName="personType">
            <mat-radio-button [value]="true" checked class="radio-button">
              Fizičko lice
            </mat-radio-button>
            <mat-radio-button [value]="false" class="radio-button">
              Pravno lice
            </mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input formControlName="name" matInput placeholder="Ime">
          </mat-form-field>
          <mat-form-field *ngIf="requesterType" appearance="fill">
            <mat-label>Prezime</mat-label>
            <input formControlName="lastName" matInput placeholder="Prezime">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Ulica i broj</mat-label>
            <input formControlName="street" matInput placeholder="Ulica i broj">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Poštanski broj</mat-label>
            <input formControlName="postCode" matInput placeholder="Poštanski broj">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <input formControlName="city" matInput placeholder="Grad">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Država</mat-label>
            <input formControlName="country" matInput placeholder="Država">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <input formControlName="phone" matInput placeholder="Telefon">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Faks</mat-label>
            <input formControlName="fax" matInput placeholder="Faks">
          </mat-form-field>
        </p>
        <div>
          <button [disabled]="!requesterFormGroup.valid" color="primary" mat-flat-button matStepperNext>Dalje</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Punomoćnik?">
      <mat-checkbox (change)="changeAttorney($event.checked)" [checked]="hasAttorney" class="margin">Da li
        postoji punomoćnik?
      </mat-checkbox>
      <div>
        <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
        <button [disabled]="!requesterFormGroup.valid" color="primary" mat-flat-button matStepperNext>Dalje</button>
      </div>
    </mat-step>
    <mat-step [optional]="!hasAttorney" [stepControl]="attorneyFormGroup" label="Podaci o punomoćniku">
      <form [formGroup]="attorneyFormGroup">
        <p>
          <mat-radio-group
            [(ngModel)]="attorneyType"
            aria-labelledby="radio-group-label"
            class="radio-group"
            formControlName="personType">
            <mat-radio-button [value]="true" checked class="radio-button">
              Fizičko lice
            </mat-radio-button>
            <mat-radio-button [value]="false" class="radio-button">
              Pravno lice
            </mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input formControlName="name" matInput placeholder="Ime">
          </mat-form-field>
          <mat-form-field *ngIf="attorneyType" appearance="fill">
            <mat-label>Prezime</mat-label>
            <input formControlName="lastName" matInput placeholder="Prezime">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Ulica i broj</mat-label>
            <input formControlName="street" matInput placeholder="Ulica i broj">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Poštanski broj</mat-label>
            <input formControlName="postCode" matInput placeholder="Poštanski broj">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <input formControlName="city" matInput placeholder="Grad">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Država</mat-label>
            <input formControlName="country" matInput placeholder="Država">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <input formControlName="phone" matInput placeholder="Telefon">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Faks</mat-label>
            <input formControlName="fax" matInput placeholder="Faks">
          </mat-form-field>
        </p>
        <div>
          <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
          <button [disabled]="hasAttorney&&!attorneyFormGroup.valid" color="primary" mat-flat-button matStepperNext>
            Dalje
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Broj podnosilaca?">
      <mat-checkbox (change)="changeRequester($event.checked)" [checked]="hasMoreThanOneRequester" class="margin">Da li
        postoji više od jednog podnosilaca zahteva?
      </mat-checkbox>
      <div>
        <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
        <button color="primary" mat-flat-button matStepperNext>Dalje</button>
      </div>
    </mat-step>
    <mat-step [optional]="!hasMoreThanOneRequester" [stepControl]="representativeFormGroup"
              label="Podaci o predstavniku">
      <form [formGroup]="representativeFormGroup">
        <p>
          <mat-radio-group
            [(ngModel)]="representativeType"
            aria-labelledby="radio-group-label"
            class="radio-group"
            formControlName="personType">
            <mat-radio-button [value]="true" checked class="radio-button">
              Fizičko lice
            </mat-radio-button>
            <mat-radio-button [value]="false" class="radio-button">
              Pravno lice
            </mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Ime</mat-label>
            <input formControlName="name" matInput placeholder="Ime">
          </mat-form-field>
          <mat-form-field *ngIf="representativeType" appearance="fill">
            <mat-label>Prezime</mat-label>
            <input formControlName="lastName" matInput placeholder="Prezime">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Ulica i broj</mat-label>
            <input formControlName="street" matInput placeholder="Ulica i broj">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Poštanski broj</mat-label>
            <input formControlName="postCode" matInput placeholder="Poštanski broj">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Grad</mat-label>
            <input formControlName="city" matInput placeholder="Grad">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Država</mat-label>
            <input formControlName="country" matInput placeholder="Država">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <input formControlName="phone" matInput placeholder="Telefon">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Faks</mat-label>
            <input formControlName="fax" matInput placeholder="Faks">
          </mat-form-field>
        </p>
        <div>
          <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
          <button [disabled]="hasMoreThanOneRequester&&!representativeFormGroup.valid" color="primary" mat-flat-button
                  matStepperNext>Dalje
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="trademarkFormGroup" label="Podaci o žigu">
      <form [formGroup]="trademarkFormGroup">
        <p><label id="radio-group-label">Zahtev se podnosi za:</label></p>
        <p>
          <mat-radio-group
            aria-labelledby="radio-group-label"
            class="radio-group" formControlName="trademarkType">
            <mat-radio-button *ngFor="let option of trademarkTypeOptions" [value]="option.value">
              {{ option.label }}
            </mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-radio-group
            (change)="checkIfOther()"
            aria-labelledby="radio-group-label" class="radio-group" formControlName="glyphType">
            <mat-radio-button *ngFor="let option of glyphTypeOptions" [value]="option.value">
              {{ option.label }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-form-field *ngIf="isOther" appearance="fill">
            <mat-label>Druga vrsta</mat-label>
            <input formControlName="other" matInput placeholder="Navesti koju">
          </mat-form-field>
        </p>
        <p>
          <label for="imgUpload">Izgled znaka<span *ngIf="isImgRequired">*</span></label>
          <br/>
          <input (change)="onImageFileChange($event)" accept=".png, .jpg, .jpeg" formControlName="image" id="imgUpload"
                 type="file">
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Boja, odnosno boje znaka</mat-label>
            <input formControlName="color" matInput placeholder="Boja">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Transliteracija znaka</mat-label>
            <textarea formControlName="transliteration" matInput placeholder="Transliteracija"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Prevod znaka</mat-label>
            <textarea formControlName="translation" matInput placeholder="Prevod"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Opis znaka</mat-label>
            <textarea formControlName="description" matInput placeholder="Opis"></textarea>
          </mat-form-field>
        </p>
        <p>
          <label id="button-toggle-group-label">Odabrati brojeve klasa robe i usluga po Ničanskoj klasifikaciji*</label>
          <mat-button-toggle-group [formControl]="classesToggle" aria-labelledby="button-toggle-group-label" multiple>
            <mat-button-toggle *ngFor="let option of classNumbers" [value]="option">
              {{ option }}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <button (click)="openDialog()" color="accent" mat-icon-button matTooltip="Nicanska klasifikacija">
            <mat-icon>help</mat-icon>
          </button>
        </p>
        <p>
          <mat-checkbox (change)="changeRight($event.checked)" [checked]="hasRight" class="margin">Zatraženo pravo
            prvenstva?
          </mat-checkbox>
          <mat-form-field *ngIf="hasRight" appearance="fill">
            <mat-label>Osnov za pravo prvenstva</mat-label>
            <input formControlName="basis" matInput placeholder="Osnov">
          </mat-form-field>
        </p>
        <div>
          <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
          <button [disabled]="!trademarkFormGroup.valid" color="primary" mat-flat-button matStepperNext>Dalje</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="taxFormGroup" label="Placene takse">
      <form [formGroup]="taxFormGroup">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Osnovna taksa</mat-label>
            <input (change)="calculateSum()" formControlName="basic" matInput placeholder="Osnovna taksa">
            <span matTextSuffix>din.&nbsp;</span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Za klase</mat-label>
            <input (change)="calculateSum()" formControlName="class" matInput placeholder="Za klase">
            <span matTextSuffix>din.&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Za grafičko rešenje</mat-label>
            <input (change)="calculateSum()" formControlName="graphic" matInput placeholder="Za grafičko resenje">
            <span matTextSuffix>din.&nbsp;</span>
          </mat-form-field>
        </p>
        <p>
          UKUPNO: {{ total }} din.
        </p>
        <div>
          <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
          <button [disabled]="!trademarkFormGroup.valid" color="primary" mat-flat-button matStepperNext>Dalje</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="attachmentsFormGroup" label="Prilozi">
      <form [formGroup]="attachmentsFormGroup">
        <p>
          <label for="pdf0">Primerak znaka* </label><br/>
          <input (change)="onPdfFileChange($event, 0)" accept=".pdf" formControlName="example" id="pdf0" type="file">
        </p>
        <p>
          <label for="pdf1">Spisak robe i usluga* </label>
          <br/>
          <input (change)="onPdfFileChange($event, 1)" accept=".pdf" formControlName="list" id="pdf1" type="file">
        </p>
        <p>
          <label for="pdf2">Punomoćje<span *ngIf="hasAttorney">*</span> </label>
          <br/>
          <input (change)="onPdfFileChange($event, 2)" accept=".pdf" formControlName="list" id="pdf2" type="file">
        </p>
        <p>
          <label for="pdf3">Ranije priloženo punomoćje<span *ngIf="hasAttorney">**</span> </label>
          <br/>
          <input (change)="onPdfFileChange($event, 3)" accept=".pdf" formControlName="list" id="pdf3" type="file">
        </p>
        <p>
          <label for="pdf4">Naknadno priloženo punomoćje<span *ngIf="hasAttorney">**</span> </label>
          <br/>
          <input (change)="onPdfFileChange($event, 4)" accept=".pdf" formControlName="list" id="pdf4" type="file">
        </p>
        <p>
          <label for="pdf5">Opšti akt o žigu* </label>
          <br/>
          <input (change)="onPdfFileChange($event, 5)" accept=".pdf" formControlName="list" id="pdf5" type="file">
        </p>
        <p>
          <label for="pdf6">Dokaz o pravu prvenstva<span *ngIf="hasRight">*</span> </label>
          <br/>
          <input (change)="onPdfFileChange($event, 6)" accept=".pdf" formControlName="list" id="pdf6" type="file">
        </p>
        <p>
          <label for="pdf7">Dokaz o uplati takse* </label>
          <br/>
          <input (change)="onPdfFileChange($event, 7)" accept=".pdf" formControlName="list" id="pdf7" type="file">
        </p>
        <div>
          <button color="primary" mat-flat-button matStepperPrevious>Nazad</button>
          <button (click)="submitAll()" color="accent" mat-raised-button>
            Podnesi zahtev
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
</div>
